.add-form-container {
  width: 400px;
}

.add-form {
  display: flex;
  flex-direction: column;

  &_field {
    width: 100%;
    margin-bottom: 30px !important;
  }
}

.file-input {
  cursor: pointer;
  margin-bottom: 20px;
}
